<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap dll="SDL2" os="osx" target="./libs/osx/libSDL2-2.0.0.dylib"/>
	<dllmap dll="SDL2_image" os="osx" target="./libs/osx/libSDL2_image-2.0.0.dylib"/>
	<dllmap dll="SDL2_mixer" os="osx" target="./libs/osx/libSDL2_mixer-2.0.0.dylib"/>
	<dllmap dll="SDL2_ttf" os="osx" target="./libs/osx/libSDL2_ttf-2.0.0.dylib"/>

	<dllmap dll="SDL2" os="windows" cpu="x86-64" target="./libs/windows/x86_64/SDL2.dll"/>
	<dllmap dll="SDL2_image" os="windows" cpu="x86-64" target="./libs/windows/x86_64/SDL2_image.dll"/>
	<dllmap dll="SDL2_mixer" os="windows" cpu="x86-64" target="./libs/windows/x86_64/SDL2_mixer.dll"/>
	<dllmap dll="SDL2_ttf" os="windows" cpu="x86-64" target="./libs/windows/x86_64/SDL2_ttf.dll"/>

	<dllmap dll="SDL2" os="windows" cpu="x86" target="./libs/windows/x86/SDL2.dll"/>
	<dllmap dll="SDL2_image" os="windows" cpu="x86" target="./libs/windows/x86/SDL2_image.dll"/>
	<dllmap dll="SDL2_mixer" os="windows" cpu="x86" target="./libs/windows/x86/SDL2_mixer.dll"/>
	<dllmap dll="SDL2_ttf" os="windows" cpu="x86" target="./libs/windows/x86/SDL2_ttf.dll"/>

	<dllmap dll="SDL2" os="linux" cpu="x86-64" target="./libs/linux/x86_64/libSDL2-2.0.so.0"/>
	<dllmap dll="SDL2_image" os="linux" cpu="x86-64" target="./libs/linux/x86_64/libSDL2_image-2.0.so.0"/>
	<dllmap dll="SDL2_mixer" os="linux" cpu="x86-64" target="./libs/linux/x86_64/libSDL2_mixer-2.0.so.0"/>
	<dllmap dll="SDL2_ttf" os="linux" cpu="x86-64" target="./libs/linux/x86_64/libSDL2_ttf-2.0.so.0"/>
</configuration>
